/* เมนูหลัก */
.app-cmp-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  background: firebrick;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;


  li {
    position: relative; // สำคัญมาก
  }

  a {
    text-decoration: none;
    color: white;
    padding: 8px 14px;
    display: block;
    border-radius: 6px;
    transition: all 0.25s ease;
  }

  a:hover {
    background: white;
    color: firebrick;
  }
}

.sub-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;

  background: #fff;
  min-width: 140px;

  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0,0,0,.2);

  padding  : 6px 0;
  margin   : 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: all .25s ease;
}

.sub-menu a {
  color: firebrick;
  padding: 8px 16px;
}

.has-sub:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  background-color: rgb(255, 232, 232);
}
